{% if posts %}
    <ul>
    {% for question in posts %}
        <li><a href="{% url 'qa:question' question.id %}">{{ question.title }} Добавлен: {{ question.added_at }}</a></li>	   {% endfor %}
    </ul>
{% else %}
    <p>No qa are available.</p>
{% endif %}


<nav><ul class="pagination">
{% for p in paginator.page_range %}
{% if p == page.number %}
<li class="active">
{% else %}
<li>
{% endif %}
<a href="{{ paginator.baseurl }}{{ p }}">
{{ p }}</a>
</li>
{% endfor %}
</ul></nav>
    <div>User: {{ user }}</div>
    <div>Session: {{ session }}</div>